.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.user {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    position: relative;
    right: 0px;
}

.logout {
    position: absolute;
    right: 60px;
}

.logout:hover {
    color: white;
    text-decoration: none;
}